      <div class="jumbotron">
        <h1>
          嗨，我是卡龍。
        </h1>
        <p>
          卡龍只賣馬卡龍。
        </p>
        <p>
          <a class="btn btn-primary btn-large" href="#">Learn more 之後連到自我介紹</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-4 column">
      <h2>
        情人節禮盒
      </h2>
      <p>
        這邊放簡介或圖，但我覺得圖會比較好，簡介可以在details看
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
    <div class="col-md-4 column">
      <h2>
        心意滿分馬卡龍
      </h2>
      <p>
        這邊放簡介或圖，但我覺得圖會比較好，簡介可以在details看
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
    <div class="col-md-4 column">
      <h2>
        一次一個馬卡龍
      </h2>
      <p>
        這邊放簡介或圖，但我覺得圖會比較好，簡介可以在details看
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>

