<%= render :partial => "/layouts/navBar", :locals => { :tab => "employee" } %>

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <p>
        馬卡龍最早出現在義大利的修道院，<small>當時有位名為Carmelie的修女為了替代葷食，而製作這種由杏仁粉的甜點，另外又稱為修女的馬卡龍，直到1533年才被帶到法國。</small>
         <strong>二十世紀初期</strong>，巴黎的糕點師傅Pierre Hermé發明一種方法來呈現馬卡龍，利用三明治夾法將甜美的稠膏狀餡料夾於傳統的兩個蓋子層，成為新的小圓餅，更由於香料和色素的使用、溼度控制，使得馬卡龍性質改良。<em>相較於更早之前的小圓餅的甜、乾、易碎的特性，新的圓餅具備外殼酥脆的口感，內部卻濕潤、柔軟而略帶黏性，改良後的馬卡龍直徑大約為3.5-4公分之間。而今更有馬卡龍的專賣店，也富含各式各樣的口味。</em>

      </p>
      <div class="row clearfix">
        <div class="col-md-6 column">
          <h3 class="text-primary text-center">
            卡龍媽
          </h3>
          <p class="text-muted text-left">
            卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。卡龍媽很喜歡做馬卡龍，以後他還會做別的，但現在它還是卡龍媽。
          </p>
        </div>
        <div class="col-md-6 column">
          <h3 class="text-primary text-center">
            卡龍弟
          </h3>
          <p class="text-muted text-left">
            卡龍弟是卡龍媽的兒子，他什麼都不會又失業在家，所以才有了這個網站。卡龍弟是卡龍媽的兒子，他什麼都不會又失業在家，所以才有了這個網站。卡龍弟是卡龍媽的兒子，他什麼都不會又失業在家，所以才有了這個網站。卡龍弟是卡龍媽的兒子，他什麼都不會又失業在家，所以才有了這個網站。卡龍弟是卡龍媽的兒子，他什麼都不會又失業在家，所以才有了這個網站。卡龍弟是卡龍媽的兒子，他什麼都不會又失業在家，所以才有了這個網站。卡龍弟是卡龍媽的兒子，他什麼都不會又失業在家，所以才有了這個網站。卡龍弟是卡龍媽的兒子，他什麼都不會又失業在家，所以才有了這個網站。卡龍弟是卡龍媽的兒子，他什麼都不會又失業在家，所以才有了這個網站。卡龍弟是卡龍媽的兒子，他什麼都不會又失業在家，所以才有了這個網站。
          </p>
        </div>
      </div>
      <address> <strong>卡龍家, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
    </div>
  </div>
</div>