<%= render :partial => "/layouts/navBar", :locals => { :tab => "top" } %>

<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', customer_confirmation_url(@resource, confirmation_token: @token) %></p>
